.App {
  text-align: center;
}

.App-header {
  background-color: #05668D;
  height: 44px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-body{
  background-color: #F0F3BD;
  min-height: 100vh;
}

.App-link {
  color: #61dafb;
}

h1{
  font-size: 28px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.disabled-link {
  pointer-events: none;
}
